{% load bootstrap5 %}
{% bootstrap_css %}
{% load static %}

<script src="{% static 'displayImage.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 style="margin-bottom: 50px">Input CIFAR10 image</h2>
        <img width="400px" style="display:none;" id="image1" src="#" alt="your image" />
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form1.as_p }}
          <button style="margin-top: 30px" type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div>
          <p>The predicted class: </p>
        </div>
    </div>
    <div class="col-md-6">
      <h2 style="margin-bottom: 50px">Input any kind of image</h2>
        <img width="400px" style="display:none;" id="image2" src="#" alt="your image" />
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form2.as_p }}
          <button style="margin-top: 30px" type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div>
        <p>The predicted class: </p>
      </div>
    </div>
  </div>
</div>